*{
	margin: 0;
	padding: 0;
	color: white;
	box-sizing: border-box;
	font-family: 'Poppins';
}


nav{
	background: black;
	padding: 10px 40px 10px 70px; 
}
nav ul{
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

nav ul div.text{
	display: inline-flex;
	position: absolute;

}
nav ul div.text a{
	text-decoration : none;
	display: block;
	padding: 17px;
	font-size:17px;

}

nav ul div.text a:hover{
	background: #3f4448;
	transition : 0.4s;
}

nav ul .search{
	height: 40px;
	width: 220px;
	display: flex;
	background: #f2f2f2;
	border-radius: 5px;
	margin-left: 70%;
}

nav ul .search input{
	height: 100%;
	width: 200px;
	border: none;
	outline: none;
	padding: 0 9px;
	color: #000;
	border-radius: 5px 0 0 5px;

}  

nav ul .search .icon{
	height: 100%;
	width: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #cccccc;
	border-radius: 0 5px 5px 0;
	cursor: pointer;

}

nav ul .search .icon:hover{
	background: #f08080;
}

nav ul .search .icon span{
	color: #222222;
	font-size: 18px;

}
nav ul div.ASA{
	display: inline-flex;
	font-size: 18px;
    margin-left: 30px; 
}
nav ul div.ASA a{
	text-decoration: none;
}

nav ul .cart .fa{
	margin-left: 20px;
	font-size: 25px;
}

.cart-page{

margin: 80px auto;

}

table{
 width:80%;
border-collapse: collapse;
margin-left: 80px;

}
.cart-info{
display: flex;
flex-wrap: wrap;
}
p ,small{
color:black;
}

th{
text-align: left;
padding:5px;
color: white;
background: #ff523b;
font-weight:normal;
}
td{
padding:10px 5px;
color: black;
}
td input{
width: 40px;
height: 30px;
padding:5px;
color:black;
}
td a{
color: #ff523b;
font-size:12px;
text-decoration: none;
}
td img{
width: 80px;
height:80px;
margin-right: 10px;
}
.Total-Price{
display: flex;
justify-content: flex-end;
margin-top:30px;

}
.Total-Price table{
border-top: 3px solid #ff523b;
width: 100%;
max-width: 400px;
margin-right: 15%
}
td:last-child{
text-align: right;
}
th:last-child{
text-align: right;
}

